<footer>
    <div class="footer-content py-5">
        <div class="container py-4">
            <div class="row gy-5">
                <div class="col-md-4 text-white text-center">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
                <div class="col-md-4 text-white">
                    <h3 class="text-center">AROUND THE WEB</h3>
                    
                    <ul  class="icons mt-3 list-unstyled d-flex justify-content-center align-items-center">
                        <li class="mx-2"> <i class="fa-brands fa-facebook mx-1 icon "></i></li>
                       <li class="mx-2"> <i class="fa-brands fa-twitter mx-1 icon"></i></li>
                       <li class="mx-2">  <i  class="fa-brands fa-linkedin-in mx-1 icon"></i></li>
                       <li class="mx-2">
                        <i class="fa-solid fa-globe mx-1 icon"></i></li>
                           
                          
                        
                        </ul>
                </div>
                <div class="col-md-4 text-white text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="copyright py-4">
        <p class="text-white text-center m-0">Copyright © Your Website 2023</p>
    </div>
</footer>