<nav class="navbar navbar-expand-lg py-3 ">
    <div class="container">
      <a class="navbar-brand text-white fw-bold " routerLink="home"  >START FRAMEWORK
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item mx-3">
            <a class="nav-link text-white text-center  fw-bold" routerLink="about"  [routerLinkActive]="['rounded-4' , 'bg-info']" aria-current="page">About</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link text-white text-center fw-bold" [routerLinkActive]="['rounded-4' , 'bg-info']" routerLink="portfolio">Portfolio</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link text-white text-center fw-bold" [routerLinkActive]="['rounded-4' , 'bg-info']" routerLink="contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
