.text-color{
    color: #2c3e50;
}

.line{
    
    width: 100px;
     height: 5px;
     background-color:#2c3e50;
   
 }

 label{
    top: 50px;
    position: relative;
    color: #1ABC9C;
z-index: -1;
transition: all 1s ease-in;
 }
.focus-class{
    z-index: 0;
    top: 0px;
}
 .form-control{

    border: none !important;
    border-bottom: #dee2e6 1px solid !important;
      
 }
 .form-control:focus{
   box-shadow: none;
      
 }
    
  
 .btn-info{
    background-color: #1ABC9C;
    border: #1ABC9C;
 }