<div class="home py-5">
    <div class="container d-flex align-items-center justify-content-center flex-column">
        <div class="img  w-50 d-flex align-items-center justify-content-center" >
            <img class="w-50 " src="../../assets/img/avataaars.svg" alt="">
        </div>
        <div class="title d-flex justify-content-center align-items-center flex-column">
            <h1 class="text-white fw-bold">START FRAMEWORK</h1>
            <div class="star my-4 d-flex justify-content-center align-items-center">
                <div class="line"></div>
                <i class="fa-solid fa-star text-white fw-bold  mx-3"></i>
                <div class="line"></div>
            </div>
           
            <p class="text-white ">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>
